/*
 * H: 197
 * S:  18
 * V: 20, 90
 *
 * H: 197
 * S:  80
 * V: 80 #299ecc
 */

html {
	background-color: #000000;
	color: #bcdae6;
	font-family: Sans-serif;
}

input[type='text'], textarea {
	background-color: #2a3033;
	border-color: #bcdae6;
	color: #bcdae6;
}

button, select {
	display: block;
	background-color: #2a3033;
	border-color: #bcdae6;
	color: #bcdae6;
	border-radius: 4px;
}

.login {
	/* display: none; */
}

div.control {
	/* display: none; */
	background-color: #2a3033;
}

div.header {
	position: relative;
}

.channels-holder {
	overflow-x: scroll;
	background-color: #2a3033;
}

.channels td {
	text-align: center;
}

.channels td.link-odd {
	display: none;
}

.channels td.ch-hidden {
	display: none;
}

button.mute-off {
	width: 70px;
}
button.mute-on {
	width: 70px;
	border-color: red;
	color: red;
}

button.send-off {
	border-color: grey;
	color: grey;
	width: 70px;
}
button.send-on {
	width: 70px;
}
.send-hidden {
	display: none;
}

.fader_holder {
	margin: 30px 0 0 0;
	border: 0;
	padding: 0;
}
.fader_holder .fader {
	border: 0;
	height: 200px;
	margin: 0 auto;
	background-color: #000;
	box-shadow: inset 0 2px 2px #151819;
}
.fader_holder .fader .noUi-handle {
	width: 50px;
	height: 50px;
	background: transparent;
	border: 5px solid #299ecc;
	box-shadow: none;
	right: -17px;
	bottom: -24px;
}
.fader_holder .fader.send-off .noUi-handle {
	border: 5px solid #505050;
}
.fader_holder .fader.mute-on .noUi-handle {
	border: 5px solid #ff0000;
}
.fader_holder .fader.mute-on.send-off .noUi-handle {
	border: 5px solid #a72828;
}
.fader_holder .noUi-handle:before,
.fader_holder .noUi-handle:after {
	display: none;
}

.fadervalue {
	white-space: nowrap;
	overflow-x: hidden;
}

span.namecode { font-size: small; }
span.name { width: 75px; display: block; }
.color-0 { background: #000080; color: white; }
.color-1 { background: #0000FF; color: white; }
.color-2 { background: #964B00; color: white; }
.color-3 { background: #FF0000; color: white; }
.color-4 { background: #FFFF00; color: black; }
.color-5 { background: #008000; color: white; }
.color-6 { background: #00FFFF; color: black; }
.color-7 { background: #700070; color: white; }
